#whiteCursor{
    cursor: url("../../../public/assets/cursor\ icons/01itersWhite.png"),auto;

}
.blackCursor{
    cursor: url("../../../public/assets/cursor\ icons/01iters.png"),auto;
}

.cut{
  max-height: 100vh;
  object-fit: cover;
  overflow: hidden;  
  display: flex;
  justify-content:center;
}

.contain{
display: flex;
flex-direction: column;
gap: 5px;
}
#teaserCards{
  height: 400px;
  /* min-width: 100px; */
}
#homeGrid{
  grid-template-columns: repeat(auto-fit,minmax(15% , 1fr) );
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;

}

.testContainer div{
  width: 50%;
  height: auto;
  border: 2px solid red;
}