#whiteCursor{
    cursor: url("../../../public/assets/cursor\ icons/01itersWhite.png"),auto;

}
.blackCursor{
    cursor: url("../../../public/assets/cursor\ icons/01iters.png"),auto;
}

.cut{
  max-height: 100vh;
  object-fit: cover;
  overflow: hidden;  
  display: flex;
  justify-content:center;
}