 @font-face {
    font-family: caslon;
    src: url("../../../public/assets/fonts/Caslon\ Titling\ MT\ W01.ttf");
 }

 @font-face {
    font-family: avenir;
    src: url("../../../public/assets/fonts/Avenir\ Light.ttf");
 }

 @font-face {
    font-family: playfair;
    src: url("../../../public/assets/fonts/Avenir\ Light.ttf");
 }
 
 .nav{
    position: absolute;
    top:0;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 1; 
    /* background-color: #1b1c1d; */

    width: 100%;
    height: 10%;
    position: Fixed;




}
.nav:hover{
background-color: black;
}
h3{
    font-family: Lato;
}
.links{
    display: flex;
    gap: 3vw;
    margin-right: 3vw;
}

.nav h3{
    color: white;
    margin-left: 2vw;
    font-family: Lato;
    font-weight: lighter;
    /* font-size: 1.5vw; */
    margin-top: 10px;
} 
.links a{
    font-family: avenir;
    text-decoration: none;
    font-size: 1.1vw;
    color: white;
    opacity: 0.7;
}



