html{
    background-color: #282A3A;
}
.courses{
    background-color: #282A3A;
    margin: 0;
    height: auto;
    overflow: auto;
}

#coursesTitle{
    text-align: center;
    margin-top: 100px;
    margin-left: 20px;
    color: white;
    opacity: 0.9;
}

.courses hr{

    width: 100%;
    color: white;
}

#courseCardOutline{
    height: 45vh;
    width: 30vw;
}

#coursesGrid{
        grid-template-columns: repeat(auto-fit,minmax(400px , 30%) );
}

